<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light " >
      <div class="container">
        <!-- Logo a la izquierda -->
        <a class="navbar-brand" href="#">
          <img src="assets/images/p1.png" alt="Logo" width="100" height="100">
        </a>
    
        <!-- Botón de hamburguesa para dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/servicios">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/productos">Producto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/contacto">Contacto</a>
            </li>
          </ul>
        </div>
    
        <!-- Imagen de carrito de compras al final -->
        <div class="navbar-text">
          <img src="assets/images/p2.png" routerLink="/car" alt="Carrito de compras" width="70" height="70">
        </div>
      </div>
    </nav>
    
    <main >

      <div class="header-content container">
        <div class="header-img">
            <img src="assets/imagenes/right.png" alt="">
        </div>
        <div class="header-txt">
            <h1>Ofertas especiales</h1>
            <p>Estrena las mejores prendas</p>
            <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn-1">Informacion</a>
        </div>
      </div>
    
      <section class="ofert container">
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="assets/imagenes/1.1.png" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Producto 1</h3>
                <a href="#" class="btn-2">Informacion</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="assets/imagenes/f2.png" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Producto 2</h3>
                <a href="#" class="btn-2">Informacion</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="assets/imagenes/f3.png" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Producto 3</h3>
                <a href="#" class="btn-2">Informacion</a>
            </div>
        </div>
    </section>

    <main class="products container" id="lista-1">

        <h2>Productos</h2>

        <div class="product-content"> 

            <div class="product">
            <img src="assets/imagenes/1.png" alt="">
            <div class="product-txt">
                <h3>Elisyum</h3>
                <p>Calidad Premium</p>
                <p class="Precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
            </div>
        </div>

        <div class="product">
            <img src="assets/imagenes/2.png" alt="">
            <div class="product-txt">
                <h3>Elisyum</h3>
                <p>Calidad Premium</p>
                <p class="Precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="2">Agregar al carrito</a>
            </div>
        </div>

        <div class="product">
            <img src="assets/imagenes/3.png" alt="">
            <div class="product-txt">
                <h3>Elisyum</h3>
                <p>Calidad Premium</p>
                <p class="Precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="3">Agregar al carrito</a>
            </div>
        </div>

        <div class="product">
            <img src="assets/imagenes/4.png" alt="">
            <div class="product-txt">
                <h3>Elisyum</h3>
                <p>Calidad Premium</p>
                <p class="Precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="4">Agregar al carrito</a>
            </div>
        </div>

        <div class="product">
            <img src="assets/imagenes/5.png" alt="">
            <div class="product-txt">
                <h3>Elisyum</h3>
                <p>Calidad Premium</p>
                <p class="Precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>

        <div class="product">
            <img src="assets/imagenes/6.png" alt="">
            <div class="product-txt">
                <h3>Elisyum</h3>
                <p>Calidad Premium</p>
                <p class="Precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="6">Agregar al carrito</a>
            </div>
        </div>

    </div>

    </main>

    <section class="icons container">

        <div class="icon-1">
            <div class="icon-img">
                <img src="assets/imagenes/i1.svg" alt="">
            </div>
            <div class="icon-txt">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>
                    Ropa sin por ciento autentica y comoda
                </p>
            </div>
        </div>
        <div class="icon-1">
            <div class="icon-img">
                <img src="assets/imagenes/i2.svg" alt="">
            </div>
            <div class="icon-txt">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>
                    Ropa sin por ciento autentica y comoda
                </p>
            </div>
        </div>
        <div class="icon-1">
            <div class="icon-img">
                <img src="assets/imagenes/i3.svg" alt="">
            </div>
            <div class="icon-txt">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>
                    Ropa sin por ciento autentica y comoda
                </p>
            </div>
        </div>

    </section>

    <section class="blog container">

        <div class="blog-1">
            <img src="assets/imagenes/b1.png" alt="">
            <h3>Blog 1</h3>
            <p>
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit.
            </p>
        </div>

        <div class="blog-1">
            <img src="assets/imagenes/b2.jpg" alt="">
            <h3>Blog 2</h3>
            <p>
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit.
            </p>
        </div>

        <div class="blog-1">
            <img src="assets/imagenes/b3.jpg" alt="">
            <h3>Blog 3</h3>
            <p>
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit.
            </p>
        </div>

    </section>

    <footer class="footer">

        <div class="footer-content container">

            <div class="link">
                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </div>
        </div>
    </footer>